<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="DBCajaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sistema-bancario-server.database.windows.net;initial catalog=DBCaja;persist security info=True;user id=Administrador;password=sistema.banco21;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWSCuenta" />
        <binding name="BasicHttpBinding_IWSCuenta1" />
        <binding name="BasicHttpBinding_IWSCuenta2" />
        <binding name="BasicHttpBinding_IWSCuenta3" />
        <binding name="BasicHttpBinding_IWSCuenta4" />
        <binding name="BasicHttpBinding_IWSCuenta5" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53368/Servicios/WSCuenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSCuenta"
        contract="wsReferenceCuenta.IWSCuenta" name="BasicHttpBinding_IWSCuenta" />
      <endpoint address="http://localhost:53368/Servicios/WSCuenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSCuenta1"
        contract="wsReferenceCuenta.IWSCuenta" name="BasicHttpBinding_IWSCuenta1" />
      <endpoint address="http://localhost:53368/Servicios/WSCuenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSCuenta2"
        contract="ServiceReference1.IWSCuenta" name="BasicHttpBinding_IWSCuenta2" />
      <endpoint address="http://localhost:53368/Servicios/WSCuenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSCuenta3"
        contract="ServiceReference1.IWSCuenta" name="BasicHttpBinding_IWSCuenta3" />
      <endpoint address="http://localhost:53368/Servicios/WSCuenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSCuenta4"
        contract="Test.IWSCuenta" name="BasicHttpBinding_IWSCuenta4" />
      <endpoint address="http://localhost:53368/Servicios/WSCuenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSCuenta5"
        contract="wsReferenceCuenta.IWSCuenta" name="BasicHttpBinding_IWSCuenta5" />
    </client>
  </system.serviceModel>
</configuration>